[
 {:db/ident :sample_id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "An identifier for the sample that is the subject of the analysis."}
 {:db/ident :input_file_name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :contig_id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :start
  :db/valueType :db.type/bigint
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :stop
  :db/valueType :db.type/bigint
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :strand_orientation
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :gene_symbol
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :gene_name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :coverage_positions
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :coverage_percent
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :sequence_identity
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :reference_database_id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :reference_database_version
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :reference_database_id
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :reference_accession
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :reference_length
  :db/valueType :db.type/bigint
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :target_length
  :db/valueType :db.type/bigint
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :drug_class
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :antimicrobial_agent
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :resistance_mechanism
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :analysis_software_name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 {:db/ident :analysis_software_version
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc ""}
 ]
